body {
    background-color: #e67e22 !important;
    color: white !important;
    font-family: 'Philosopher', sans-serif !important;
}

.naslov, .input-items {
    padding: 3%;
}
.naslov p {
    padding-top: 2%;
    font-size: 21px;
}

.input-items input {
    font-size: 21px;
    padding: 3px;
    width: 90%;
}
.enter {
    font-size: 21px;
    font-weight: bold;
    padding: 3px 15px;
    border: 1px solid  #2d3436;
}
.enter:hover {
    color: #e67e22;
}
.oneTask {
    color: white;
    list-style-type: none;
    background-color: #2d3436;
    font-size: 22px;
    padding: 10px;
    margin-bottom: 2%;
    position: relative;
}

.oneTask:hover {
    transform: scale(1.1);
}

.deleteTask, .editTask {
    position: absolute;
    cursor: pointer;
}
.deleteTask {
    right: 10px;
    font-size: 24px;
}
.editTask {
    right: 35px;
    font-size: 20px;
}

.clearAllBtn {
    padding: 5px 20px;
    border: 1px solid  #2d3436;
    border-radius: none;
}
.clearAllBtn:hover {
    color: #e67e22;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
